.question {
    cursor: pointer;
    margin: 1.5rem;
    color: #666;
}

.question:hover {
    color: #2F6CF9;
}

.question:active {
    color: #666;
}

.questionSelector {
    list-style: none;
    padding: 0;
    margin: 0;
}