.askButton {
    background-color: #2F6CF9;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.askButton:active {
    box-shadow: 0 0 0 0.5rem rgba(47, 108, 249, 0.3);
}

.showHalo {
    box-shadow: 0 0 0 0.5rem rgba(47, 108, 249, 0.3);
}

.removeHalo {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.askIcon {
    box-sizing: border-box;
    width: 2.5rem;
}



